.Prompt {
	display: flex;	
	margin-top: 10px;
	width: 100%;
}

.Input {
	margin-left: 5px;
	caret-color: white;
	background-color: black;
	outline-color: transparent;
	color: white;
	font-family: 'consolas', 'times' sans-serif;
	letter-spacing: .07em;
	border: none;
	width: 58vw;
}

.BlinkCursor {
	margin-left: 5px;
	width: auto;
	max-width: 100%;
	overflow: hidden; /* Ensures the content is not revealed until the animation */ 
	border-right: .15em solid white; /* The typwriter cursor */ 
	white-space: nowrap; /* Keeps the content on a single line */ 
	animation: blink-caret 1.25s step-end infinite;
	outline-color: transparent;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}